.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 2rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.App-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 16px;

  grid-template-areas:
    "client ."
    "books ."
    "table ."
    "button .";
}

.grid-item-client {
  grid-area: client;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.grid-item-books {
  grid-area: books;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.grid-item-table {
  grid-area: table;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.grid-item-button {
  grid-area: button;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.button-style {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #e0e0e0;
  }

  &:disabled {
    background-color: #f7f7f7;
    cursor: not-allowed;
  }
}

.message-error {
  color: red;
}

.message-success {
  color: green;
}